.packs{
    flex-wrap: wrap;
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    gap: 100px;
    padding-bottom: 50px;

    &-info{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 7px;
        width: 35%;

        &-text{
            padding-top: 7px;
            padding-left: 5px;

            p{
                width: 450px;
            }
        }
    }
    .price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: -webkit-fill-available;
        margin-top: 90px;
    
        button{
            background-color: transparent;
            border-color: $font-color;
            color: $font-color;
            border-radius: 4px;
            border-style: solid;
            padding-left: 20px;
            padding-right: 20px;
        }
    
        &-info{
            display: flex;
            flex-direction: column;
            padding-left: 5px;
    
            h3{
                color: $font-color;
            }
        }
    }
    
    img{
        height: 100%;
        width: 100%;
    }

    .ofertas{
        background-color: white;
        padding: -10px -20px;
        margin: auto 150px;
    }

    .icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 50px;
            width: 50px; 
        }
        
        p{
            font-size: 12px;
            text-align: center;
        }

    }


}

